@font-face {
    font-family: 'dj_gross';
    src: url('fonts/djgross-webfont.woff2') format('woff2'),
         url('fonts/djgross-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;

    font-family: Arial, Helvetica, sans-serif;
}


#left-sidebar {
    min-height: 100vh;
    flex: 1 0 375px;

    background-image: url(images/background.png);
    background-size: cover;
}

#left-sidebar > header{
    font-size: clamp(1rem, 0.3vw + 2rem, 5rem);
    font-family: 'dj_gross';

    margin: 0;
    padding: 2vw 1vw;

    color: white;
    background-color: rgb(0, 0, 0, 0.5);

    position: relative;
    top: 25vh;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

#logo {
    width: 35%;
}

main {
    height: 100vh;
    flex: 3 0 600px;
}

#form-heading {
    margin: 10px 0;
}

.form-body {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    padding: 25px 25px;
    margin: 10px 5px;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-row {
    display: flex;
    gap: 3rem;

}

.form-col {
    display: flex;
    flex-direction: column;
}

label {
    font-variant: small-caps;
    color: rgba(0, 0, 0, 0.7)
}

input {
    font-size: 1.25rem;
    border-radius: 3px;
    outline: 1px solid rgba(0, 0, 0, 0.5);
    border: none;
}

input:invalid {
    outline: 1px solid rgba(255, 0, 0, 0.5);
}

input:focus {
    outline: 1px solid rgba(0, 0, 255, 0.7);
}

.legend {
    margin: 0;
    color: rgba(0, 0, 0, 0.7);
}

main header {
    padding: 25px;
}

form button {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    cursor: pointer;
    margin: 10px 25px;
    padding: 15px;
    font-size: 1.15rem;
    font-weight: 700;
    color: white;
    background-color: rgba(0, 0, 255, 0.7);
    border: none;
    border-radius: 6px;
}

form button:hover {
    transition: 0.25s;
    background-color: rgba(0, 0, 255, 1);
}

.logo-small {
    width: 3rem;
}