@font-face {
    font-family: 'air_america';
    src: url('fonts/airamerica-regular.woff2') format('woff2'),
         url('fonts/airamerica-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    box-sizing: border-box;
}

h1 {
    color: red;
    font-family: 'air_america';
}